################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Impossible Bosses/v15
/.vs/Impossible Bosses/v16/Server/sqlite3
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ImpossibleBosses/v16/Server/sqlite3/storage.ide-wal
/.vs/ImpossibleBosses/v16/Server/sqlite3/storage.ide-shm
/.vs/ImpossibleBosses/v16/Server/sqlite3/storage.ide
/.vs/ImpossibleBosses/v16/Server/sqlite3/db.lock
/.vs/ImpossibleBosses/v16/.suo
/ImpossibleBosses.sln
