################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Impossible Bosses/v15
/.vs/Impossible Bosses/v16/Server/sqlite3
